@import "tailwindcss";

body {
    background-color: #000;
    color: #ffffff;
    /* overflow: hidden !important; */
    overflow-x: hidden;
    background-repeat: no-repeat;
    font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mulish", sans-serif;
}
.btn-style {
    @apply bg-gradient-to-r from-[#00D2FF] from-[-9.06%] font-bold to-[#D015FF] cursor-pointer to-90% text-white px-8 py-4 rounded-lg hover:bg-gradient-to-l transition-colors duration-700;
}
.d-btn-style {
    @apply bg-gradient-to-r from-[#00D2FF] from-[-9.06%] font-bold to-[#D015FF] cursor-pointer to-90% text-white  rounded-lg hover:bg-gradient-to-l transition-colors duration-700;
}
.appointment-title {
    @apply text-xl font-bold leading-7 mb-4 capitalize;
}
.label{
  @apply text-lg font-semibold leading-7 mb-3 text-[#ffffffe7]
}
.react-datepicker-wrapper{
    @apply w-full;
}
.input-style {
    @apply bg-gradient-to-r w-full p-3.5 from-[#2e6cf41a] to-[#00d2ff1a] text-white placeholder:text-[#ffffff4d] rounded-lg  focus:outline-none focus:border-[#00d2ff] transition-colors duration-300;
}
.pricig-bg-cover {
    background-size: 100% auto;
}
.bg-gradient {
  @apply bg-gradient-to-r from-[#2e6cf41a] to-[#00d2ff1a];
}
a {
    text-decoration: none;
}
#root {
   overflow-x: hidden;
}
.howworkbg-cover {
  background-size: 100% 100%;
}
.font-Nunito {
  font-family: "Nunito", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}

.font-poppins {
     font-family: "Poppins", sans-serif;
}
.swiper-button-next,
  .swiper-button-prev {
    @apply text-black dark:text-white text-xl font-bold;
  }